html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
  font-size: 10px;
  font-family: Roboto, sans-serif;
}

.label-instruction {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#error {
  color: #ca2508;
  flex: 1;
  align-self: center;
  padding-left: 20px;
  font-size: 2.5rem;
}

.screen-video {
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: none;
}

.touch-canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  cursor: none;
  width: 100%;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #303030;
}

.touch-container {
  display: none;
  background-color: #303030;
  height: 100%;
  width: 100%;
}

.touchpad {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  color: white;
  width: 100%;
  height: calc(100vh - 35px);
  border-radius: 20px 20px 0 0;
  padding: 10px;
  margin: 0px;
}

.touch-btn-container {
  position: fixed;
  height: 60px;
  width: 108%;
  margin: 0px;
  bottom: 0;
  padding: 5px;
  z-index: 2;
}
